@font-face {
  font-family: Antic Dione;
  src: url(../Antic_Dione/AnticDione-Regular.ttf);
}
@font-face {
  font-family: Armino;
  src: url(../Arimo/Arimo-Italic-VariableFont_wght.ttf);
}

/*Nav bar*/
.container-fluid .nav-link{
  position: absolute;
  top: 15px;
  right: 20%;
  color: black;
  font-size: 20px;
  font-family: 'Armino';
  font-weight: 800;
}
.container-fluid .nav-link1{
  position: absolute;
  top: 15px;
  right: 10%;
  color: black;
  font-size: 20px;
  font-family: 'Armino';
  font-weight: 800;
}

/*Index_html*/
.home_page .since_2023{
  position:absolute;
  top: 200px;
  left:45%;
  font-family: 'Antic Dione';
  font-weight: 400;
  font-size: 30px;
  color: #27688B;
  text-align: center;
}
.home_page .home_line2{
  position:absolute;
  top: 40%;
  left: 325px;
  height: 1px;
  border: 0;
  width: 800px;
  background: black;
}
.home_page .quote{
  position:absolute;
  top: 60%;
  left: 480px;
  font-family: 'Antic Didone';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
text-align: center;
color: #27688B;
}
.home_page .home_line3{
  position:absolute;
  top: 470px;
  left: 325px;
  height: 1px;
  border: 0;
  width: 800px;
  background: black;
}
.home_page .btn1{
  position:absolute;
  top: 350px;
  left: 330px;
  height: 60px;
  width: 350px;
  font-family: 'Antic Didone';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  background: #27688B;
  border-radius: 50px;
}
.home_page .btn1:hover {
  background-color: #F2C930;
  color: #4AAFD2;
  transition:.5s;
}
.home_page .btn2{
  position:absolute;
  top: 350px;
  right: 330px;
  height: 60px;
  width: 350px;
  font-family: 'Antic Didone';
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  background: #27688B;
  border-radius: 50px;
}
.home_page .btn2:hover {
  background-color: #F2C930;
  color: #4AAFD2;
  transition:.5s;
}

/*login_customer.html*/
.login_customer
{
    background-image: url('../Images/login.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
}
.login_customer .heading_for_login{
  position:absolute;
  top: 27%;
  left: 63%;
  font-family: 'Armino';
  font-size: 25px;
}
.login_customer .signup_side {
  position: absolute;
  top: 27%;
  left: 32%;
}
.login_customer .signup_side .heading{
  font-family: 'Armino';
  font-size: 23px;
  font-style: italic;
  text-align: center;
}
.login_customer .signup_side .heading .quote1{
  font-family: 'Antic Didone';
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  color: #27688B;
}
.login_customer .signup_side .btn3{
  position: absolute;
  top: 110%;
  left: 25%;
  width: 110px; 
  height: 40px;
  background-color: #27688B;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.login_customer .signup_side .btn3:hover{
  background-color: #4AAFD4;
    border-color:white;
    transition: .5s;
}
.login_customer .line1{
  border: 2px solid #27688B;
  height: 300px;
  position: absolute;
  left: 55%;
  top: 30%; 
}
.center form{
    padding: 0 40px;
}
form .txt_field{
    position: relative;
    margin: 30px 0;
}
.txt_field input{
    width: 250px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px; 
    font-family: 'Antic Didone';
    border-color: #4AAFD4;
    border-radius: 10px;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 75px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;

}
.txt_field input:focus ~label, 
.txt_field input:valid ~ label{
    top: -10px;
    color:#4AAFD4 ;
}
.login_customer input[type="submit"]{
    position: absolute;
    left: 125px;
    width: 110px; 
    height: 40px;
    background-color: #DE3C31;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.login_customer input[type="submit"]:hover{
  background-color: #F2C930;
    border-color:white;
    transition: .5s;
}

/*Customer_signin*/
.customer_signin {
  background-color: #27688B;
}
.customer_signin .spagetti-image{
  position:absolute;
  right: 0; 
  top: 15%;
}
.customer_signin .line1{
  border-right: 2px solid #DE3C31;
  height: 350px;
  position: absolute;
  left: 110px;
  margin-right: -3px;
  top:405px; 
}
.customer_signin .line2{
  position: absolute;
  width: 161px;
  height: 50px;
  left: 60%;
  top: 0px;
  background: #d75442 ;
  transform: rotate(90.54deg);
}
.customer_signin .log_inpage{
  position:absolute;
  top: 15%;
  left: 20%;
  font-family: 'Antic Didone';
  font-style: italic;
  font-size: 30px;
  color: #F2C930;
  text-align: center;
  font-weight: 100;
}
.customer_signin .center1{
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.customer_signin.center1 form{
  padding: 0 40px;
}
.customer_signin form .txt_field1{
  position: relative;
  margin: 30px 0;
}
.customer_signin .center1 .txt_field1 input{
  width: 275px;
  padding: 0 5px;
  height: 40px;
  font-size: 16px; 
  font-family: 'Antic Didone';
  border-color: #F2C930;
  border-radius: 15px;
  outline: none;
}
.customer_signin .center1 .txt_field1 label{
  position: absolute;
  top: 50%;
  left: 75px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.customer_signin .center1 .txt_field1 span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;

}
.customer_signin .center1 .txt_field1 input:focus ~label, 
.customer_signin .center1 .txt_field1 input:valid ~ label{
  top: -10px;
  color:#DE3C31 ;
}
.customer_signin input[type="submit"]{
  position: absolute;
  left: 110px;
  width: 110px; 
  height: 40px;
  background-color: #d75442;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.customer_signin input[type="submit"]:hover{
background-color: #F2C930;
  border-color:white;
  transition: .5s;
}

/*restaurant_owner_login.html*/

.restaurant_owner .log_inpage .loginpage{
  text-orientation: upright;
  position: absolute;
  top: 25%;
  left: 42px;
  font-family: 'Antic Dione';
  font-weight: 400;
  font-size: 30px;
  font-style:normal;
  color: #27688B;
  transform: rotate(-90deg); 
}
.restaurant_owner .log_inpage .line{
  border-right: 2px solid #27688B;
  height: 300px;
  position: absolute;
  left: 110px;
  margin-right: -3px;
  top:405px;
}
.restaurant_owner .center1{
  position: absolute;
  top: 25%;
  left: 400px;
  background-color: #f3f3f3;
  box-shadow: 4px 4px 24px 1px #27688B, -4px -4px 25px 1px #27688B;
  padding-top: 100px;
  padding-left: 400px;
  height: 400px;
}
.restaurant_owner .line3{
  position: absolute;
  width: 161px;
  height: 50px;
  right: 0;
  top: 75%;
  background: #d75442 ;
}
.restaurant_owner .center1 form{
  padding: 0 40px;
}
.restaurant_owner form .txt_field1{
  position: relative;
  margin: 30px 0;
}
.restaurant_owner .center1 .text_box{
  font-family: 'Antic Didone';
  font-style: italic;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.restaurant_owner .center1 .txt_field1 input{
  width: 250px;
  padding: 0 5px;
  height: 40px;
  font-size: 16px; 
  font-family: 'Antic Didone';
  border-color: #4AAFD4;
  border-radius: 10px;
  outline: none; 
}
.restaurant_owner .center1 .rest_img{
  position: absolute;
  width: 521px;
  height: 674px;
  left: 0;
  top: 0;

}
.restaurant_owner .center1 .txt_field1 label{
  position: absolute;
  top: 50%;
  left: 75px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.restaurant_owner input[type="submit"]{
  position: absolute;
  left: 450px;
  width: 110px; 
  height: 40px;
  background-color: #DE3C31;
  color: white;
  border-radius: 5px;
  font-family: 'Armino';
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.restaurant_owner .pass1:hover{
  border-color: #F2C930;
  transition: .5s;
}
.restaurant_owner .txt_field1 input:focus ~label, 
.restaurant_owner .txt_field1 input:valid ~ label{
    top: -10px;
    color:#4AAFD4 ;
}
.restaurant_owner .SignIn_but .btn{
  position: absolute;
  left: 590px;
  width: 110px; 
  height: 40px;
  background-color: #F2C930;
  color: white;
  border-radius: 5px;
  font-family: 'Armino';
  font-weight: 700;
  cursor: pointer;
  outline: none; 
}
.restaurant_owner .SignIn_but .btn:hover{
  border-color: #DE3C31;
  transition: .5s;
}
.restaurant_owner .center1 .pass2{
  position: absolute;
  left: 65px;
}

/*Restaurant-addition.html*/
.restaurant_addition .restaurant-image1{
  position: absolute;
  top: 15%;
  left: 0;
}
.restaurant_addition .restaurant-image2{
  position: absolute;
  top: 5%;
  left: 350px; 
}
.restaurant_addition .log_inpage{
  position:absolute;
  top:20%;
  left: 70%;
  font-family: 'Armino';

}
.restaurant_addition .center1{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.restaurant_addition.center1 form{
  padding: 0 40px;
}
.restaurant_addition form .txt_field1{
  position: relative;
  margin: 30px 0;
}
.restaurant_addition .center1 .txt_field1 input{
  width: 275px;
  padding: 0 5px;
  height: 40px;
  font-size: 16px; 
  font-family: 'Antic Didone';
  border-radius: 0px;
  outline: none;
}
.restaurant_addition .center1 .txt_field1 label{
  position: absolute;
  top: 50%;
  left: 10px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.restaurant_addition .center1 .txt_field1 span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;

}
.restaurant_addition .center1 .txt_field1 input:focus ~label, 
.restaurant_addition .center1 .txt_field1 input:valid ~ label{
  top: -10px;
  color:#DE3C31 ;
}
.restaurant_addition input[type="submit"]{
  position: absolute;
  top: 105%;
  left: 105px;
  width: 110px; 
  height: 40px;
  background-color: #d75442;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.restaurant_addition input[type="submit"]:hover{
background-color: #F2C930;
  border-color:white;
  transition: .5s;
}
.restaurant_addition .center1 .drop-down{
  position: absolute;
  left: 20%;
}
.restaurant_addition .center1 .drop-down .cuisine{
  font-family: 'Antic Didone';
  width: 200px;
  height: 30px;
  text-align: center;
  font-size: 15px;
}

/*owner_profile*/
.owner_profile .profile_area .line2{
  position:absolute;
  top: 10%;
  left: 0;
  height: 160px;
  border: 0;
  width: 130px;
  background: #27688B; 
}
.owner_profile .home .side_heading .line{
  border-right: 10px solid #DE3C31;
  height: 250px;
  position: absolute;
  left:110px;
  margin-right: -3px;
  top: 45%;
}
.owner_profile .profile_area .Lawrence{
  font-family: 'Antic Didone';
  font-weight: 300;
  font-size: 35px;
  position: absolute;
  top: 20%;
  left: 45%;
  color: #27688B;
}
.owner_profile .profile_area .owner_id{
  position: absolute;
  top: 10%;
  left: 18%;
  font-family: 'Antic Didone';
  font-size: 25px;
  font-weight: 200;
}
.owner_profile .profile_area .userid{
  position: absolute;
  top: 18%;
  left: 18%;
  font-family: 'Antic Didone';
  font-size: 25px;
  font-weight: 200;
}
.owner_profile .profile_area .line1{
  position:absolute;
  top: 10%;
  left: 0;
  height: 1px;
  border: 0;
  width: 1450px;
  background: black; 
} 
.owner_profile .profile_area .line{
  position:absolute;
  top: 30%;
  left: 0;
  height: 1px;
  border: 0;
  width: 1450px;
  background: black; 
}
.owner_profile .add_restaurant_btn .rest_btn{
  position: absolute;
  top: 20%;
  left: 75%;
  height: 35px;
  width: 175px;
  font-family: 'Antic Didone';
  font-size: 18px;
  border-color: #27688B;
  border-radius: 20px;
}
/*restaurant profile page*/
.profile .slider_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 80px);
  padding: 45px 0 90px 0;  
}
.profile .slider_section .img_background{
  position:absolute;
  top:24%;
  left: 0;
}
.profile .slider_section .side_heading .rest_bar{
  text-orientation: upright;
  position: absolute;
  top: 25%;
  right: 50px;
  font-family: 'Antic Dione';
  font-weight: 400;
  font-size: 20px;
  font-style:normal;
  color: #27688B;
  transform: rotate(-90deg);
}

.profile .slider_section .side_heading .line{
  border-left: 2px solid #27688B;
  height: 156px;
  position: absolute;
  right:125px;
  margin-left: -3px;
  top: 45%;
}
.profile .slider_section .side_heading .est{
  text-orientation: upright;
  font-family: 'Antic Dione';
  position: absolute;
  top: 75%;
  right: 85px;
  font-weight: 400;
  font-size: 20px;
  font-style:normal;
  color: #27688B;
  transform: rotate(-90deg);
}
.profile .Lawrence{
  font-family: 'Antic Dione';
  position:absolute;
  left: 55%;
  top: 15%;
  font-size: 65px;
  font-weight: 400;
  color: #4AAFD2;
}
